.main {
    text-align: center;
}
.main p {
    font-size:20px;
}
.message {
    font-size: 20px;
    color:dimgray;
}
.robot {
    float:left;
    width:30%;
}
.porshe {
    float:right;
    width:30%;
}
.dinosaur {
    float:left;
    width:30%;
}
.Diamond_Molecule_structure {
    float:right;
    width:30%;
}
.ironman {
    float:left;
    width:30%;
}
.shark {
    flaot:right;
    width:30%;
}
